@import '../../../styles/variables';

.btn {
    margin: 10px 0;
    padding: 10px 20px;
    background: $blue;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0);
    &:hover {
        background: lighten($color: $blue, $amount: 10);
        transition: .5s;
    }
}

.list {
    padding: 20px 0;
}